#  DB 테이블 생성

In [18]:
import pymysql

In [19]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='ppl',charset='utf8')

In [20]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [21]:
# 상품명 하나 테이블 생성
# 상품명이 긴게 있어서 varchar를 많이 설정해줌

sql = "CREATE TABLE `brand_category_all` (\
    `brand` varchar(500) NOT NULL,\
    PRIMARY KEY (`brand`)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"
cur.execute(sql)
conn.commit()

In [22]:
cur.close()
conn.close()

### 테이블 수정 (날짜 집어넣기)

In [23]:
import pandas as pd

In [24]:
df = pd.read_excel('ppl_all_brand_category.xlsx', encoding='utf8-sig')

In [25]:
product = []
a = -30
for i in range(0,len(df[df.columns[0]])):
    b = a+i
    if b < 0:
        product.append('D'+str(a+i))
    elif b == 0:     
        product.append('D-day')
    else:
        product.append('D+'+str(a+i))
product

['D-30',
 'D-29',
 'D-28',
 'D-27',
 'D-26',
 'D-25',
 'D-24',
 'D-23',
 'D-22',
 'D-21',
 'D-20',
 'D-19',
 'D-18',
 'D-17',
 'D-16',
 'D-15',
 'D-14',
 'D-13',
 'D-12',
 'D-11',
 'D-10',
 'D-9',
 'D-8',
 'D-7',
 'D-6',
 'D-5',
 'D-4',
 'D-3',
 'D-2',
 'D-1',
 'D-day',
 'D+1',
 'D+2',
 'D+3',
 'D+4',
 'D+5',
 'D+6',
 'D+7',
 'D+8',
 'D+9',
 'D+10',
 'D+11',
 'D+12',
 'D+13',
 'D+14',
 'D+15',
 'D+16',
 'D+17',
 'D+18',
 'D+19',
 'D+20',
 'D+21',
 'D+22',
 'D+23',
 'D+24',
 'D+25',
 'D+26',
 'D+27',
 'D+28',
 'D+29',
 'D+30']

In [26]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='ppl',charset='utf8')

In [27]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [28]:
for i in product:
    sql = "ALTER TABLE `brand_category_all` ADD COLUMN `"+i+"` FLOAT NOT NULL DEFAULT 0 "
    cur.execute(sql)
    conn.commit()

In [29]:
cur.close()
conn.close()

# 파일 불러오기 & 데이터 수정

In [30]:
df = pd.read_excel('ppl_all_brand_category.xlsx', encoding='utf-8-sig')
df = df.T

In [31]:
df1 = pd.DataFrame(data=product, columns=['상품명'])
df1 = df1.T
df1

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
상품명,D-30,D-29,D-28,D-27,D-26,D-25,D-24,D-23,D-22,D-21,...,D+21,D+22,D+23,D+24,D+25,D+26,D+27,D+28,D+29,D+30

In [32]:
df = pd.concat([df1,df], axis=0)

In [33]:
df = df.reset_index()

In [34]:
df.head()

,index,0,1,2,3,4,5,6,7,8,...,51,52,53,54,55,56,57,58,59,60
0,상품명,D-30,D-29,D-28,D-27,D-26,D-25,D-24,D-23,D-22,...,D+21,D+22,D+23,D+24,D+25,D+26,D+27,D+28,D+29,D+30
1,더메디닥터 클렌징,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,킵쿨 에센스,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,S2ND 크림,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,에르쯔틴 쿨링젤,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 데이터 프레임을 [(  )] 형태로 변환

In [35]:
# 행,열 변경
df = df.T

In [36]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,437,438,439,440,441,442,443,444,445,446
index,상품명,더메디닥터 클렌징,킵쿨 에센스,S2ND 크림,에르쯔틴 쿨링젤,에스미아 쿠션,에르쯔틴 젤,비엠비코 퀸79노블 골드세럼,데일리 아이마스크 장미향,해피홈 트러블키트,...,모모백 - 카멜,Two Color Square,J192MSE027,오버사이즈 베이직 후드티(오렌지),19SS 스트라이프 더블버튼 수트,데님 반바지,로고프린팅 루즈핏티셔츠,2019 S/S 소매 레터링 더블재킷,기본핏자켓,리잘록 레터링포인트 배색가디건
0,D-30,0,0,0,0,4.49438,0,0,0,0,...,0,0,0,0,0,24.6154,0,0,0,0
1,D-29,0,0,0,0,3.37078,0,0,0,0,...,0,0,0,0,0,24.1026,0,0,0,0
2,D-28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,23.0769,0,0,0,0
3,D-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,16.9231,0,0,0,0

In [37]:
b = []
for i in range(1,len(df.columns)):
    b.append(tuple(df[i]))

# 데이터 삽입

In [39]:
conn = pymysql.connect(host = 'teamproject.cq3n19tmwx8i.us-east-2.rds.amazonaws.com',user='bigdb',password='bigdb1234', \
                      db='ppl',charset='utf8')

In [40]:
cur = conn.cursor(pymysql.cursors.DictCursor)

In [47]:
# 파이썬에서 String을 씌워서 내보내고 sql에서 String을 받아서 껍질을 벗기고 해석함!!!
sql = "insert into brand_category_all values ("+("%s, "*61+"%s")+")"
cur.executemany(sql, b)
conn.commit()

In [48]:
cur.close()
conn.close()